<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace + 쿼리의 id로 호출 -->
<mapper namespace="user">

    <!-- 중복 체크 - 회원가입시 입력한 데이터 --> 
	<select id="overlapCheck" resultType="int">
		SELECT COUNT(*) FROM DV_USER WHERE ${valueType} = #{value}
	</select>
	
	<!-- 회원가입시 입력한 데이터들 SQL에 입력 -->
	<insert id="join">
		INSERT INTO DV_USER (
			USERNAME,
			PASSWORD,
			EMAIL,
			NICKNAME,
			PHONE
		) VALUES (
			#{username},
			#{password},
			#{email},
			#{nickname},
			#{phone}
		)
	</insert>
</mapper>